/*
.tab-item::before {
    background: #ccc !important;
}
.swiper-pagination-bullet-active {
    background: #ccc !important;
}
.header-nav-item.active,
.header-nav-item:hover {
    background: #888 !important;
}
.government-tab-hd .tab-hdl.active a {
    color: #ccc !important;
}
.tab-item::before {
    background: #ccc !important;
}
.government-public-nav {
    background: #ccc !important;
}*/
